<div id="favorite">
    <% if product.favorite %>
    <%= link_to 'Ya no me gusta ðŸ’”', favorite_path(product.id), data: {
    turbo_method: :delete
    } %>
    <% else %>
            <%= link_to 'Me Gusta â¤ï¸', favorites_path(product_id: product.id), data: {
            turbo_method: :post
        } %>
    <% end %>
</div>
